<div class="main">

  <mat-sidenav-container [hasBackdrop]="false">

    <mat-sidenav #snav [mode]="'over'" [opened]="true" [class.is-mobile]="mobileQuery.matches">

      <side-content [isMobile]="mobileQuery.matches" (toggleSnav)="snav.toggle()"></side-content>

    </mat-sidenav>

    <mat-sidenav-content>

      <!-- side toogle btn-->
      <div class="widget-pane-toggle-button-container" [style.left.px]="snav.opened ? mobileQuery.matches ? 350 : 400 : 0">
        <button mat-icon-button disableRipple class="widget-pane-toggle-button"
          [class.widget-pane-collapsed]="snav.opened" (click)="snav.toggle()">
          <mat-icon>arrow_right</mat-icon>
        </button>
      </div>

      <!-- leaflet osm map-->
      <map [snavOpened]="snav.opened" [isMobile]="mobileQuery.matches"></map>

    </mat-sidenav-content>

  </mat-sidenav-container>

</div>
