.main {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .mat-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;

    .mat-sidenav {
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
      width: 400px;
      height: 100%;

      &.is-mobile {
        width: 100%;
      }
    }

    .mat-sidenav-content {
      overflow: hidden;
      .widget-pane-toggle-button-container {
        position: absolute;
        z-index: 9999;
        top: 8px;
        left: 0;
        transition: all 0.45s ease;
        background-color: rgba(255, 255, 255, 0.9);
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);

        button.widget-pane-toggle-button {
          width: 24px;
          height: 48px;

          &.widget-pane-collapsed {
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
          }
        }
      }
    }
  }
}
