@import "src/@core/scss/core";

.main {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .mat-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;

    .mat-sidenav {
      width: 400px;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.9);

      @supports ((-webkit-backdrop-filter: blur(4px)) or (backdrop-filter: blur(4px))) {
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
      }

      &.is-mobile {
        width: 100%;
      }
    }

    .mat-sidenav-content {
      overflow: hidden;
      .widget-pane-toggle-button-container {
        position: absolute;
        z-index: 9999;
        top: 8px;
        left: 0;
        transition: left 0.25s ease-out;
        background-color: rgba(255, 255, 255, 0.9);
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
        border-left: 1px solid #d4d4d4;

        button.widget-pane-toggle-button {
          width: 24px;
          height: 48px;

          &.widget-pane-collapsed {
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
          }
        }

        @include media-breakpoint("xs") {
          border-top-right-radius: 16px;
          border-bottom-right-radius: 16px;
          button.widget-pane-toggle-button {
            width: 48px;
            .mat-icon {
              color: #4285f4;
            }
          }
        }
      }
    }
  }
}
